<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- make sure to set 'Copy To Output Directory' option for this file -->
	<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

	<targets>
		<target name="file"
				xsi:type="File"
				fileName="${basedir}/log/log.txt"
				archiveAboveSize="10000000"
				archiveFileName="${basedir}/log/log{#}.txt"
				layout="${longdate}|${level:uppercase=true}|${message}"	/>

		<target name="errorFile"
				xsi:type="File"
				fileName="${basedir}/log/Error.txt"
				archiveAboveSize="10000000"
				archiveFileName="${basedir}/log/Error{#}.txt"
				layout="${longdate}|${level:uppercase=true}|${message}"	/>

		<target name="InfoFile"
				xsi:type="File"
				fileName="${basedir}/log/Info.txt"
				archiveAboveSize="10000000"
				archiveFileName="${basedir}/log/Info{#}.txt"
				layout="${longdate}|${level:uppercase=true}|${message}"	/>

		<target xsi:type="BufferingWrapper" bufferSize="100" name="alertMail">
			<target name="SendMail"
					xsi:type="Mail"
					subject="${longdate} Webpat Scenario Archive"
					to="hungchieh@ltc.tw;howard@ltc.tw"
					from="service@ltc.tw"
					smtpServer ="mail.ltc"
					html="true"
					addNewLines="true"
					smtpPort="25">
				<body xsi:type="SimpleLayout">
					<text>
						<![CDATA[
						<style type="text/css">	.error{color:red;}</style>
						<div>
							${longdate}|${level:uppercase=true}|
							${when:when=level == LogLevel.Error:inner=<span class="error">${message}</span>}
							${when:when=level == LogLevel.Debug:inner=${message}}
						</div>
						]]>
					</text>
				</body>
			</target>
		</target>

		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<logger name="*" minlevel="Info" writeTo="InfoFile" />
		<logger name="*" minlevel="Debug" writeTo="console" />

	</rules>
</nlog>
